/* Colors - Primary */
$color-primary-text: #15064B;
$color-primary-100: #101BB3;
$color-primary-90: #525eff;
$color-primary-80: #0314FB;
$color-primary-50: #98A4F2;
$color-primary-10: #E0E3F7;
$color-primary-super-light: #E0E3F7;

/* Colors - Neutral */
$color-neutral-100: #18181A;
$color-neutral-90: #333333;
$color-neutral-80: #434343;
$color-neutral-70: #545454;
$color-neutral-60: #696969;
$color-neutral-50: #7C7C7C;
$color-neutral-40: #A0A0A0;
$color-neutral-30: #B7B7B7;
$color-neutral-20: #D0D0D0;
$color-neutral-10: #E6E6E6;
$color-neutral-0: #FFFFFF;

/* Colors - Feedback */
$color-feedback-success-100: #0C4527;
$color-feedback-error-100: #761919;
$color-feedback-informative-100: $color-primary-100;

/* Typography */
$font-family: "Roboto", sans-serif;

$text-2xl: 1.5rem;
$text-base: 1rem;
$text-sm: 0.875rem;
$text-xs: 0.75rem;
$text-xxs: 0.65rem;
$text-us: 0.5625rem;

$font-bold: 700;
$font-semibold: 600;
$font-normal: 400;

/* Size */
$size-0: 0rem; // 0px
$size-1: 0.25rem; // 4px
$size-2: 0.5rem; // 8px
$size-3: 0.75rem; // 12px
$size-4: 1rem; // 16px
$size-5: 1.25rem; // 20px
$size-6: 1.50rem; // 24px
$size-7: 1.75rem; // 28px
$size-8: 2rem; // 32px
$size-9: 2.25rem; // 36px
$size-10: 2.5rem; // 40px
$size-11: 2.75rem; // 44px
$size-12: 3rem; // 48px
$size-13: 3.25rem; // 52px
$size-14: 3.5rem; // 56px