/* Cores - Primary */
$color-primary-text: #15064B;
$color-primary-100: #101BB3;
$color-primary-50: #98A4F2;
$color-primary-10: #E0E3F7;

/* Cores - Neutral */
$color-neutral-100: #18181A;
$color-neutral-90: #333333;
$color-neutral-80: #434343;
$color-neutral-70: #545454;
$color-neutral-60: #696969;
$color-neutral-50: #7C7C7C;
$color-neutral-40: #A0A0A0;
$color-neutral-30: #B7B7B7;
$color-neutral-20: #D0D0D0;
$color-neutral-10: #E6E6E6;
$color-neutral-0: #FFFFFF;

/* Cores - Feedback */
$color-feedback-success-100: #0C4527;
$color-feedback-error-100: #761919;
$color-feedback-informative-100: $color-primary-100;

/* Typography */
$font-family: "Roboto", sans-serif;