.card-element{
    background-color: $color-primary-50;

    border-radius: $size-4;
    border-style: solid;
    border-width: 1.5px;
    border-color: $color-neutral-10;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}