@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@$font-semibold&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@$font-bold&display=swap');

@import "./text-style.scss";
@import "./button-style.scss";
@import "./input-style.scss";
@import "./card-style.scss";

body{
    background-color: $color-primary-10;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    @media (min-width: 1920px) {
        align-items: center;
    }

    #root{
        width: 90%;
        max-width: 700px;

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            width: 100%;
        }
    }

    
}