.input-field-container{
    display: flex;
    flex-direction: column;
    gap: $size-2;

    width: 90%;
}

.input-field-container > .element{
    border-radius: $size-4;
    outline: none;
    border-color: #FFFFFF;
    border-width: 1.5px;
    border-style: solid;

    padding-left: $size-2;
    padding-right: $size-2;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.input-field-container > .element.md{
    height: $size-14;
}

.input-field-container > .element:hover{
    border-color: #FF9900;
}

.input-field-container > .element:focus{
    border-color: #FF9900;
    border-width: 2.5px;
}

.input-field-container > .error-message-container{
    padding-left: $size-4;
}