.text-element{
    font-family: $font-family;
    color: $color-primary-text;
}
.text-element.disabled{
    color: $color-neutral-30;
}

.heading{
    font-weight: $font-semibold;
    font-size: $text-2xl;
}

.body1regular{
    font-weight: $font-normal;
    font-size: $text-base;
}

.body1bold{
    font-weight: $font-bold;
    font-size: $text-base;
}

.body2Regular{
    font-weight: $font-normal;
    font-size: $text-sm;
}

.body2bold{
    font-weight: $font-bold;
    font-size: $text-sm;
}

.smallRegular{
    font-weight: $font-normal;
    font-size: $text-xs;
}

.smallBold{
    font-weight: $font-bold;
    font-size: $text-xs;
}

.largeButton{
    font-weight: $font-semibold;
    font-size: $text-base;
}

.smallButton{
    font-weight: $font-semibold;
    font-size: $text-xxs;
}

.caption{
    font-weight: $font-normal;
    font-size: $text-us;
}

.label{
    font-weight: $font-semibold;
    font-size: $text-sm;
}

.errorTextFeedback, .successTextFeedback, .informativeTextFeedback{
    font-size: $text-sm;
}

.errorTextFeedback{
    color: $color-feedback-error-100;
}

.successTextFeedback{
    color: $color-feedback-success-100;
}

.informativeTextFeedback{
    color: $color-feedback-informative-100;
}

.errorTextFeedbackRegular, .successTextFeedbackRegular, .informativeTextFeedbackRegular{
    font-weight: $font-normal;
}
.errorTextFeedbackSemibold, .successTextFeedbackSemibold, .informativeTextFeedbackSemibold{
    font-weight: $font-semibold;
}
.errorTextFeedbackBold, .successTextFeedbackBold, .informativeTextFeedbackBold{
    font-weight: $font-bold;
}



$increase-font-size-1: 1.5;
$increase-font-size-2: 2;

@media (min-width: 1920px) {
    .heading{
        font-size: $text-2xl*$increase-font-size-1;
    }
    
    .body1regular{
        font-size: $text-base*$increase-font-size-1;
    }
    
    .body1bold{
        font-size: $text-base*$increase-font-size-1;
    }
    
    .body2Regular{
        font-size: $text-sm*$increase-font-size-1;
    }
    
    .body2bold{
        font-size: $text-sm*$increase-font-size-1;
    }
    
    .smallRegular{
        font-size: $text-xs*$increase-font-size-1;
    }
    
    .smallBold{
        font-size: $text-xs*$increase-font-size-1;
    }
    
    .largeButton{
        font-size: $text-base*$increase-font-size-1;
    }
    
    .smallButton{
        font-size: $text-xxs*$increase-font-size-1;
    }
    
    .caption{
        font-size: $text-us*$increase-font-size-1;
    }
    
    .label{
        font-size: $text-sm*$increase-font-size-1;
    }
}

@media (min-width: 1920px) {
    .heading{
        font-size: $text-2xl*$increase-font-size-2;
    }
    
    .body1regular{
        font-size: $text-base*$increase-font-size-2;
    }
    
    .body1bold{
        font-size: $text-base*$increase-font-size-2;
    }
    
    .body2Regular{
        font-size: $text-sm*$increase-font-size-2;
    }
    
    .body2bold{
        font-size: $text-sm*$increase-font-size-2;
    }
    
    .smallRegular{
        font-size: $text-xs*$increase-font-size-2;
    }
    
    .smallBold{
        font-size: $text-xs*$increase-font-size-2;
    }
    
    .largeButton{
        font-size: $text-base*$increase-font-size-2;
    }
    
    .smallButton{
        font-size: $text-xxs*$increase-font-size-2;
    }
    
    .caption{
        font-size: $text-us*$increase-font-size-2;
    }
    
    .label{
        font-size: $text-sm*$increase-font-size-2;
    }
}
